@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anaheim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #13678a;
}

header {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 200;
  top: -57px;
  position: relative;
}
header h1 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 40px;
  margin-top: 40px;
  color: #f1efa5;
}
header button {
  margin-top: 10px;
  padding: 10px 40px;
  border: transparent;
  color: white;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #f1efa5;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  font-family: "Poppins";
  font-weight: bold;
}
header button::before {
  content: "CONTACTANOS";
  width: 100%;
  height: 100%;
  font-family: "Poppins";
  font-weight: bold;
  background-color: #ffffff;
  top: 0;
  right: 0;
  position: absolute;
  transition: 0.5s ease;
  color: #0f6102;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
}
header button:hover::before {
  -webkit-clip-path: circle(80% at 50% 50%);
          clip-path: circle(80% at 50% 50%);
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5490196078) 0%, rgba(0, 0, 0, 0.5490196078) 100%), url(../assets/headerIMG.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #f1efa5;
  position: sticky;
  z-index: 300;
  box-shadow: 10px 9px 11px -14px rgba(0, 0, 0, 0.75);
  transition: 0.2s ease;
}
nav h1 {
  color: #fffdf8;
  font-family: "Poppins";
}
nav ul {
  display: flex;
  gap: 20px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  transition: 0.5s ease;
  color: #fffdf8;
}
nav ul li a:hover {
  color: green;
}

.container-Map {
  width: 100%;
  height: 700px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-Map .title-Map {
  width: 95%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: #f1efa5;
}
.container-Map .title-Map img {
  width: 30px;
  height: 30px;
}
.container-Map .title-Map h2 {
  font-family: "Poppins";
}
.container-Map .map {
  width: 95%;
  height: 100%;
  border: 1px solid rgba(173, 173, 173, 0.63);
  box-shadow: 6px 9px 10px -6px rgba(0, 0, 0, 0.75);
}
.container-Map .map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.contacto-container {
  width: 100%;
  height: 600px;
  background-image: url(../assets/contacto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row-reverse;
  margin-top: 60px;
}
.contacto-container .contacto-text {
  width: 700px;
  height: 50%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacto-container .contacto-text h2 {
  font-family: "Poppins";
  font-size: 35px;
  color: #f1efa5;
  z-index: 100;
}
.contacto-container .contacto-text p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #fffdf8;
  padding: 1px 30px;
  z-index: 100;
}
.contacto-container .form {
  width: 400px;
  height: 90%;
  background-color: white;
  border-radius: 5px;
  margin-left: 40px;
  z-index: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 8px 0px 0px rgba(255, 255, 255, 0.829);
}
.contacto-container .form .form-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.contacto-container .form .form-group label {
  color: #13678a;
  font-family: "Poppins";
  *font-weight: bold;
}
.contacto-container .form .form-group input[type=text] {
  width: 350px;
  background-color: transparent;
  color: #000000;
  padding: 0.6em 0.3em;
  border: 1px solid #d4d4d4;
  background-color: rgba(253, 253, 253, 0.9098039216);
  outline: none;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
}
.contacto-container .form .consulta-title {
  color: #13678a;
  font-family: "Poppins";
  margin-bottom: 10px;
}
.contacto-container .form .consulta {
  width: 90%;
  resize: none;
  outline: none;
  border: 1px solid #d4d4d4;
  background-color: rgba(253, 253, 253, 0.9098039216);
}
.contacto-container .form .buttonEnviar {
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: #13678a;
  transition: 0.6s ease;
}
.contacto-container .form .buttonEnviar:hover {
  background-color: #14ba16;
  border: 1px solid white;
  color: white;
}
.contacto-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 19, 22, 0.4588235294);
}

.beneficios-Container {
  width: 70%;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.beneficios-Container h1 {
  font-family: "Poppins";
  text-align: center;
}
.beneficios-Container hr {
  margin: 10px auto;
  width: 50%;
  height: 10px;
  border: transparent;
  border-radius: 5px;
  background-color: #f1efa5;
}
.beneficios-Container .beneficios {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 40px;
}
.beneficios-Container .beneficios .iconBeneficio {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translateY(-10px);
  top: 0;
}
.beneficios-Container .beneficios .item {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: transparent;
  border-bottom: 3px solid #13678a;
}
.beneficios-Container .beneficios .item p {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.containerPhotos {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
}

.testimonios-title {
  text-align: center;
  font-family: "Poppins";
  margin: 10px auto;
}

.testimonios-container {
  width: 100%;
  height: 600px;
  margin: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 440px 200px;
  justify-items: center;
  align-items: center;
}
.testimonios-container .testimonios-avatar {
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.testimonios-container .testimonios-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 8px 9px 17px -10px rgba(0, 0, 0, 0.75);
  transition: 0.3s ease;
}
.testimonios-container .testimonios-avatar img:hover {
  border: 3px solid #f1efa5;
  transform: scale(1.2);
}
.testimonios-container .testimonios-text {
  width: 80%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonios-container .testimonios-text .text {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  background-color: #13678a;
  box-shadow: 8px 15px 17px -10px rgba(0, 0, 0, 0.75);
}
.testimonios-container .testimonios-text .text .quoteIcon {
  width: 50px;
  height: 50px;
}
.testimonios-container .testimonios-text .text p {
  font-family: "Roboto", sans-serif;
  padding: 0 50px;
  color: white;
}
.testimonios-container .testimonios-text .text .testimonios-name {
  font-size: 20px;
}

.QuienesSomos {
  width: 100%;
  height: 550px;
  margin: 100px auto;
  background-image: url("../assets/quienes.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.QuienesSomos .title {
  font-family: "Poppins";
  color: #f1efa5;
  font-size: 35px;
  z-index: 100;
}
.QuienesSomos .info {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 20px;
  padding: 0 260px;
  z-index: 100;
}
.QuienesSomos::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 19, 22, 0.6784313725);
}

.footer {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: -18px;
}
.footer .footer-header {
  width: 100%;
  height: 90%;
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-row: 1fr;
  background-color: rgb(27, 27, 27);
}
.footer .footer-header .footer-info {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}
.footer .footer-header .footer-info h3 {
  font-family: "Poppins";
  color: #f1efa5;
  margin-top: 20px;
  margin-left: 40px;
}
.footer .footer-header .footer-info p {
  font-family: "Roboto", sans-serif;
  color: #a09787;
  margin-left: 10px;
  padding: 5px 30px;
}
.footer .footer-header .footer-sociales {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}
.footer .footer-header .footer-sociales h3 {
  font-family: "Poppins";
  color: #f1efa5;
  margin-top: 20px;
  margin-left: 40px;
}
.footer .footer-header .footer-sociales .social {
  width: 80%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.footer .footer-header .footer-sociales .social .icon-social {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.footer .footer-header .footer-sociales .social a {
  color: #a09787;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  transition: 0.3s ease;
}
.footer .footer-header .footer-sociales .social a:hover {
  color: white;
}
.footer .footer-header .footer-direccion {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}
.footer .footer-header .footer-direccion h3 {
  font-family: "Poppins";
  color: #f1efa5;
  margin-top: 20px;
  margin-left: 40px;
}
.footer .footer-header .footer-direccion .social {
  width: 80%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.footer .footer-header .footer-direccion .social .icon-encuentranos {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.footer .footer-header .footer-direccion .social p {
  font-family: "Roboto", sans-serif;
  color: #a09787;
}
.footer .footer-derechos {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  background-color: rgb(17, 17, 17);
}
.footer .footer-derechos p {
  font-family: "Roboto", sans-serif;
  color: #a09787;
}/*# sourceMappingURL=index.css.map */